/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #fff;
  --color-black: #000;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'minecraftia', sans-serif;
}

body{
  overflow-x: hidden;
}
